<div class="root"
	style="display: flex;flex-direction:column;align-items:center;justify-content:center;font-family: sans-serif;">
	<h1>Hi <strong style="color: #0F62AC;"> {{user.firstname}}!</strong> Did you forgot your password?</h1>
	<p>Don't worry, we from <strong>Bm-Diag.org</strong> got you cover. Click on the link below to redefine your
		password:</p>
	<a style="padding: 1rem;background:#0F62AC;border-radius:8px;color:white;text-decoration: none;"
		href="{{applicationURL}}/new-password?token={{token}}">Redefine password</a>
</div>