<div class="root" style="font-family: sans-serif;text-align: center;">
	<h1>
		Hi <strong style="color: #0F62AC;margin: 20px 0;"> {{user.firstName}}!</strong> Did you forgot your password?
	</h1>
	<p style="margin: 20px 0;">
		Don't worry, we from <strong>Bm-Diag.org</strong> got you cover. Click on the link below to redefine your password:
	</p>
	<a style="padding: 1rem;background:#0F62AC;border-radius:8px;color:white;text-decoration: none;display: inline-block;margin: 10px 0;"
		href="{{applicationURL}}/forgot-my-password?token={{token}}">Redefine password</a>
</div>